.container-fluid {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font: 72px "Lora", sans-serif;
  font-weight: 200;
  font-style: italic;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

h4 {
  font: 24px "Lora", sans-serif;
  font-weight: 200;
  letter-spacing:4px;
  text-align: center;
}

h5 {
  font: 18px "Roboto", sans-serif;
  font-weight: bold;
  margin:25px 0 10px;
}

.fh {
  font: 72px "Lora", sans-serif;
  font-weight: 200;
  font-style: italic;
  display: inline-block;
  margin-bottom:25px;
}

.menu {
	display: inline-block;
}

.menu > li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding-right: 20px;
}

iframe {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #FFD347;
}

.definitions {
	list-style: none;
}

.definitions > li {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
}

.skate-h {
  background-color: #A5FF9A;
}

.sleuth-h {
  background-color: #9AB7FF;
}

.pole-h {
  background-color: #FF9AB0;
}